<div class="sidebar <% if params[:action] == 'index' %>open<% end %>">
  <% if user_signed_in? %>
    <% notes = @notes || current_user.notes %>
    
    <% if notes.present? %>
      <% notes.each do |note| %>
        <%= link_to note_path(note), note_link_options(note) do
        %>
          <div class="pin"></div>

          <div class="sidebar-item-title" title="<%= note_title(note) %>">
            <%= note_title(note) %>
          </div>

          <div class="sidebar-item-date" title="<%= l note.updated_at, format: :full %>">
            Last edited: <%= time_ago_in_words(note.updated_at) %> ago
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="empty">
        <div>No notes</div>
      </div>
    <% end %>
  <% end %>
</div>
